/* COLORS */
/* FONTS */
/* MARGINS & PADDINGS */
/* MEDIAS QUERIES */
/* Disable styles for links or lists */
/* Buttons style using gradient background */
/* Shadow for main containers and buttons */
/* Flex stuff */
/* Margins & paddings */
/* Others stuff */
/* Mixins for responsive */
/* KEYFRAMES */
@keyframes loader {
  100% {
    opacity: 0;
  }
}
@keyframes rotate_slow {
  0% {
    transform: rotate(1turn);
  }
  50% {
    transform: rotate(-1turn);
  }
}
@keyframes rotate_speed {
  0% {
    transform: rotate(-1turn);
    /* Asymmetric effect */
  }
  50% {
    transform: rotate(1turn);
  }
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
}

/* Pour rendre la mise en page plus fluide */
body {
  font-family: "roboto", sans-serif;
  font-size: 1em;
}

a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

.intro__description {
  font-size: 1.1em;
  font-weight: lighter;
}

.restaurant__new {
  font-size: 0.8em;
  font-weight: 450;
}
.restaurant__name {
  font-size: 1.1em;
}
.restaurant__location {
  font-weight: lighter;
}

.menu__restaurant {
  font-family: "shrikhand", sans-serif;
}
.menu__ordertitle {
  font-size: 1em;
  font-weight: lighter;
}
.menu__food {
  font-size: 1em;
  margin-bottom: 2px;
  margin-top: 0;
}
.menu__description {
  font-size: 0.9em;
  font-weight: lighter;
  margin-bottom: 0;
  margin-top: 2px;
}
.menu__price {
  font-size: 0.9em;
  font-weight: bold;
  margin: 0;
}

.footer__title {
  font-family: "shrikhand", sans-serif;
  font-size: 1.2em;
}
.footer__list {
  text-decoration: none;
  list-style: none;
  color: inherit;
}
.footer__item--bold {
  font-weight: 450;
}

.btn__gradient {
  font-weight: bold;
  color: #ffff;
  background-image: linear-gradient(#ff79da, #9356dc);
  border-radius: 30px;
  box-shadow: 2px 4px 15px #dedede;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
  /* make a smooth transition */
}
.btn__gradient:hover {
  opacity: 0.8;
  /* Color functions like lighten not available on gradient */
  box-shadow: 2px 4px 15px #787878;
  /* Make button shadow darker on hover */
}

.operations__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  color: #ffff;
  background-color: #9356dc;
  border-radius: 50px;
}

.head__search__ico {
  opacity: 0.7;
}

.operations__ico {
  color: #787878;
  font-size: 1.3em;
  margin-left: 5px;
  margin-right: 15px;
}

.favorite__ico {
  font-size: 1.5em;
}
.favorite__ico--color {
  font-size: 1.5em;
}

.check__ico {
  font-size: 1.5em;
  color: #ffff;
}

.footer__ico {
  font-size: 1em;
  padding-right: 5px;
}

/* Figures & figcaptions */
.restaurant__figure {
  display: flex;
  flex-direction: column;
  margin: 25px 0px 25px 0px;
  position: relative;
  width: 100%;
  height: 230px;
  box-shadow: 2px 4px 15px #dedede;
  border-radius: 18px;
  transition: 2s;
}
.restaurant__figure .restaurant__img {
  width: 100%;
  height: 65%;
  object-fit: cover;
  border-radius: 18px 18px 0px 0px;
}
.restaurant__figure .restaurant__new {
  color: #278870;
  background-color: #99e2d0;
  text-align: center;
  width: 80px;
  padding: 5px;
  position: absolute;
  /* To move text over parent */
  top: 4%;
  right: 4%;
  margin: 0px;
}
.restaurant__figure:hover {
  opacity: 0.8;
  /* Color functions like lighten not available on gradient */
  box-shadow: 2px 4px 15px #787878;
  /* Make button shadow darker on hover */
}
.restaurant__figure .restaurant__figcaption {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 35%;
  padding: 15px;
}
.restaurant__figure .restaurant__figcaption .restaurant__name {
  width: 80%;
  margin: 0;
}
.restaurant__figure .restaurant__figcaption .restaurant__location {
  width: 80%;
  margin-top: 5px;
  margin-bottom: 0;
}

/* HEART ICON */
.restaurant__favorite {
  display: flex;
  /* To center icon */
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
}

.favorite__ico--color {
  display: none;
}

.footer {
  background-color: #454545;
  padding: 15px;
  color: #f7f7f7;
}
.footer__title {
  margin: 0px;
}
.footer__list {
  padding-left: 0px;
}
.footer__item {
  margin-top: 5px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

input {
  width: 80%;
  background-color: #eaeaea;
  border: none;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
  outline: none;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.head__logo {
  width: 50%;
  padding: 15px;
}
@media screen and (min-width: 749px) and (max-width: 1024px) {
  .head__logo {
    display: none;
    /* Logo getting blurry on high resolutions, using SVG instead */
  }
}
@media screen and (min-width: 1024px) and (max-width: 1824px) {
  .head__logo {
    display: none;
  }
}
.head__logo--desktop {
  width: 50%;
  padding: 15px;
}
@media screen and (max-width: 749px) {
  .head__logo--desktop {
    display: none;
    /* Using PNG on mobile version */
  }
}
.head__back {
  position: absolute;
  /* Not the best way, but it work */
  left: 15px;
}
.head__search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 11px;
  background-color: #eaeaea;
  /* Using a SASS function here, to make background darker */
  box-shadow: inset 0px 4px 10px -8px;
}

.loader {
  position: fixed;
  /*fixed on the whole page */
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000be;
  z-index: 9999;
  animation: loader 4000ms cubic-bezier(0.6, 0.01, 1, 0.47);
  animation-fill-mode: both;
}
.loader__assiette {
  position: relative;
  height: 200px;
  width: 200px;
  border: 4px solid #99e2d0;
  border-radius: 50%;
  animation: rotate_slow 4000ms cubic-bezier(0.6, 0.01, 0.4, 1);
  animation-iteration-count: 1;
}
.loader__assiette--dot {
  height: 20px;
  width: 20px;
  background-color: #99e2d0;
  border-radius: 50%;
  position: absolute;
  top: 40px;
}
.loader__assiette2 {
  position: absolute;
  height: 130px;
  width: 130px;
  border: 2px solid #9356dc;
  border-radius: 50%;
  animation: rotate_speed 4000ms cubic-bezier(0.6, 0.01, 0.4, 1);
  animation-iteration-count: 1;
}
.loader__assiette2--dot {
  height: 20px;
  width: 20px;
  background-color: #9356dc;
  border-radius: 50%;
  position: absolute;
  top: 80px;
  left: 110px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Using a mixing for flex */
  text-align: center;
  padding: 15px 15px 50px 15px;
  background-color: #f7f7f7;
}
.intro__title {
  padding: 0 30px 0 30px;
  margin-bottom: 0;
}
.intro__description {
  margin-bottom: calc(17.6px * 2);
  /* Using calc to double margin on bottom */
}

.operations {
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.operations__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.operations__btn {
  width: calc( 100% - 10px );
  /* To repair the consequence of position : relative on this div and the next div */
  height: 60px;
  position: relative;
  left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #f7f7f7;
  border-radius: 18px;
  box-shadow: 2px 4px 15px #dedede;
  transition: 500ms;
  /* Smooth animation */
}
.operations__btn:hover {
  opacity: 0.8;
  /* Color functions like lighten not available on gradient */
  box-shadow: 2px 4px 15px #787878;
  /* Make button shadow darker on hover */
  background-color: #e4d5f6;
}
.operations__btn:hover .operations__ico {
  color: #9356dc;
  /* Icon color change while hover on parent */
}
.operations__number {
  position: relative;
  /* Moving operations__number to the left */
  left: -10px;
}

.restaurant {
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f7f7f7;
}
.restaurant content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.menu__illustration {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}
.menu__illustration img {
  width: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f7f7f7;
  position: relative;
  /* Top over the image bottom */
  top: -63px;
  margin-bottom: -63px;
  /* Adjusting the block on bottom */
  border-radius: 30px 30px 0px 0px;
  padding: 15px 15px 30px 15px;
}
.menu__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu__restaurant {
  width: 80%;
}
.menu__order {
  margin-bottom: 15px;
}
.menu__ordertitle {
  position: relative;
  /* IMPORTANT ! */
  padding-bottom: 5px;
  /* Space between text and underline */
  /* To create the mint green underline */
}
.menu__ordertitle::after {
  content: "";
  /* Don't forget the content property :) */
  width: 2rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.menu__btn {
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
  padding-left: 5px;
  background-color: #ffff;
  border-radius: 18px;
  box-shadow: 2px 4px 15px #dedede;
  transition: 500ms;
}
.menu__btn:hover {
  opacity: 0.8;
  /* Color functions like lighten not available on gradient */
  box-shadow: 2px 4px 15px #787878;
  /* Make button shadow darker on hover */
  cursor: pointer;
}
.menu__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  padding: 5px;
}
.menu__description {
  /* Create ellipsis on the 2nd text */
  display: block;
  /* Not working with flex ! */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__price {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 90%;
  flex: 1;
  /* More flexible than % in this case */
  padding-bottom: 10px;
}
.menu__check {
  /* Work in progress ... */
  height: 100%;
  background-color: #99e2d0;
  flex: 1;
  margin-right: -5em;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.menu .eatorder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

/*# sourceMappingURL=style.css.map */
