Brief/Brief créatif - Ohmyfood!.pdf
Brief/Oh my food - Textes.txt
Brief/maquettes/Accueil.png
Brief/maquettes/Menu - À la française.png
Brief/maquettes/Menu - La note enchantée.png
Brief/maquettes/Menu - La palette du goût.png
Brief/maquettes/Menu - Le délice des sens.png
Brief/maquettes/Animations/Animation - Page Menu - Apparition progressive.mp4
Brief/maquettes/Animations/Animation - Page Menu - Sélection d_un plat.mp4
OMF.code-workspace
