.btn__gradient {
  @include btn-gradient;
  @include shadows;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s; /* For a smooth transition */

  &:hover {
    @include lighter-hover;
  }
}
