.head__search__ico {
  opacity: 0.7;
}

.operations__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  color: $white;
  background-color: $purple;
  border-radius: 50px;
}

.operations__ico {
  color: darken($soft-grey, 50%);
  font-size: 1.3em;
  margin-left: $margin-sm;
  margin-right: $margin-base;
}

.favorite__ico {
  font-size: 1.5em;
  &--color {
    font-size: 1.5em;
  }
}

.check__ico {
  font-size: 1.5em;
  color: $white;
}

.footer__ico {
  font-size: 1em;
  padding-right: 1.5em;
  &--hands {
    /* Hands icon is too big */
    font-size: 0.8em;
    padding-right: 1.9em;
  }
}
