#intro {
  @include flex-center; /* Using a mixing for flex */
  text-align: center;
  padding: $padding-base;
  padding-bottom: $padding-xl; /* More padding on bottom */
  background-color: $soft-grey;
  .intro__title {
    padding-left: $padding-lg;
    padding-right: $padding-lg;
    margin-bottom: 0;
  }
  .intro__description {
    margin-bottom: calc(17.6px * 2); /* Using calc to double margin on bottom */
  }
}

#operations {
  @include custom_section_padding;
  .operations__content {
    @include flex-center;
  }
  .operations__btn {
    width: calc(
      100% - 10px
    ); /* To repair the consequence of position : relative on this div and the next div */
    height: 60px;
    position: relative;
    left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include custom_top_margin;
    background-color: $soft-grey;
    border-radius: 18px;
    @include shadows;
    transition: 2s; /* Smooth animation */

    &:hover {
      @include lighter-hover;
      background-color: lighten($purple, 30%);
    }

    &:hover .operations__ico {
      color: $purple; /* Icon color change while hover on parent */
    }
  }
  .operations__number {
    position: relative; /* Moving operations__number to the left */
    left: -10px;
  }
}

#restaurants {
  @include custom_section_padding;
  background-color: $soft-grey;
  .restaurants__content {
    @include flex-center;
    margin: 0;
  }
}
