.loader {
  position: fixed; /*fixed on the whole page */
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000be;
  z-index: 9999;
  animation: loader 4000ms cubic-bezier(0.6, 0.01, 1, 0.47);
  animation-fill-mode: both;
  &__assiette {
    position: relative;
    height: 200px;
    width: 200px;
    border: 4px solid $mint;
    border-radius: 50%;
    animation: rotate_slow 4000ms cubic-bezier(0.6, 0.01, 0.4, 1);
    animation-iteration-count: 1;
    &--dot {
      height: 20px;
      width: 20px;
      background-color: $mint;
      border-radius: 50%;
      position: absolute;
      top: 40px;
    }
  }
  &__assiette2 {
    position: absolute;
    height: 130px;
    width: 130px;
    border: 2px solid $purple;
    border-radius: 50%;
    animation: rotate_speed 4000ms cubic-bezier(0.6, 0.01, 0.4, 1);
    animation-iteration-count: 1;
    &--dot {
      height: 20px;
      width: 20px;
      background-color: $purple;
      border-radius: 50%;
      position: absolute;
      top: 80px;
      left: 110px;
    }
  }
}

.intro {
  @include flex-center; /* Using a mixing for flex */
  text-align: center;
  padding: $padding-base $padding-base $padding-xl $padding-base;
  background-color: $soft-grey;
  &__title {
    padding: 0 $padding-lg 0 $padding-lg;
    margin-bottom: 0;
    @include desktop-only {
      width: 30%;
    }
  }
  &__description {
    margin-bottom: calc(17.6px * 2); /* Using calc to double margin on bottom */
    @include desktop-only {
      width: 40%;
    }
  }
}

.operations {
  @include custom_section_padding;
  @include desktop-only {
    padding-left: $padding-xl;
    padding-right: $padding-xl;
  }
  @include hd-screen-only {
    padding-left: $padding-xxl;
    padding-right: $padding-xxl;
  }
  @include tablet-only {
    padding-left: $padding-xxl;
    padding-right: $padding-xxl;
  }
  &__content {
    @include desktop-only {
      display: flex;
      justify-content: space-between;
    }
    @include hd-screen-only {
      display: flex;
      justify-content: space-between;
    }
  }
  &__item {
    @include desktop-only {
      width: 30%;
    }
    @include hd-screen-only {
      width: 30%;
    }
  }
  &__btn {
    width: calc(
      100% - 10px
    ); /* To repair the consequence of position : relative on this div and the next div */
    height: 60px;
    position: relative;
    left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include custom_top_margin;
    background-color: $soft-grey;
    border-radius: 18px;
    @include shadows;
    transition: 500ms; /* Smooth animation */

    &:hover {
      @include lighter-hover;
      background-color: lighten($purple, 30%);
    }

    &:hover .operations__ico {
      color: $purple; /* Icon color change while hover on parent */
    }
  }
  &__number {
    position: relative; /* Moving operations__number to the left */
    left: -10px;
  }
}

.restaurant {
  @include custom_section_padding;
  background-color: $soft-grey;
  @include desktop-only {
    padding-bottom: $padding-xl;
  }
  @include hd-screen-only {
    padding-bottom: $padding-xl;
  }
  &__content {
    @include desktop-only {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 40px;
    }
    @include hd-screen-only {
      display: grid;
      grid-template-columns: repeat(
        2,
        600px
      ); /*Fixed width for extrems resolutions */
      justify-content: center;
      grid-gap: 40px;
    }
  }
  @include desktop-only {
    padding-left: $padding-xl;
    padding-right: $padding-xl;
  }
  @include hd-screen-only {
    padding-left: $padding-xxl;
    padding-right: $padding-xxl;
  }
  @include tablet-only {
    padding-left: $padding-xxl;
    padding-right: $padding-xxl;
  }
}
