.menu__illustration {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $soft-grey;
  position: relative; /* Top over the image bottom */
  top: -63px;
  margin-bottom: -63px; /* Adjusting the block on bottom */
  border-radius: 30px 30px 0px 0px;
  padding: $padding-base $padding-base $padding-lg $padding-base;
  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__restaurant {
    width: 80%;
  }
  &__order {
    margin-bottom: $margin-base;
    /* Work in progress ... */
    transform: scale(0);
    animation-name: menu_list;
    animation-duration: $anim-dur;
    animation-timing-function: cubic-bezier(.38,.1,.67,.99);
    animation-fill-mode: both; /* Scale 1 at animation end */ 
    @for $i from 1 through 3 { /* SASS loop here, to menus appears in order */
      &--#{$i} {
        animation-delay: #{$i/3}s; /* Divide animation delay */ 
      }
    }
  }
  &__ordertitle {
    position: relative; /* IMPORTANT ! */
    padding-bottom: $padding-sm; /* Space between text and underline */
    /* To create the mint green underline */
    &::after {
      content: ""; /* Don't forget the content property :) */
      width: 2rem;
      height: 0.25rem;
      background-color: $mint;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  &__btn {
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: $margin-base;
    padding-left: $padding-sm;
    background-color: $white;
    border-radius: 18px;
    overflow: hidden; /* To hide outside elements, like check item */
    @include shadows;
    transition: 500ms;
    &:hover {
      @include lighter-hover;
      cursor: pointer;
      .menu__check {
        margin-right: 0em;
        visibility: visible;
      }
      .check__ico {
        animation-name: check_in;
        animation-duration: 1500ms;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    padding: $padding-sm;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__food {
    /* Create ellipsis on the 1st text */
    display: block; /* Not working with flex ! */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__description {
    /* Create ellipsis on the 2nd text */
    display: block; /* Not working with flex ! */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__price {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 90%;
    padding-bottom: 10px;
  }
  &__check {
    /* Work in progress ... */
    height: 100%;
    background-color: $mint;
    width: 4em;
    margin-right: -4em;
    margin-left: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition-duration: 1500ms;
  }
  .check__ico {
    /* Work in progress ... */
    animation-name: check_out;
    animation-duration: 1500ms;
  }

  .eatorder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding-lg;
  }
}
