/* KEYFRAMES */

/* LOADER */
@keyframes loader {
  100% {
    opacity: 0;
    visibility: hidden; /* Hide the loader when the page is charged */
  }
}
@keyframes rotate_slow {
  0% {
    transform: rotate(1turn);
  }
  50% {
    transform: rotate(-1turn);
  }
}
@keyframes rotate_speed {
  0% {
    transform: rotate(-1turn); /* Asymmetric effect */
  }
  50% {
    transform: rotate(1turn);
  }
}

/*CHECK ICON*/
@keyframes check_in {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transition: ease-in-out;
  }
}

@keyframes check_out {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
    transition: ease-in-out;
  }
}
