/* Figures & figcaptions */
.restaurant__figure {
  display: flex;
  flex-direction: column;
  margin: 25px 0px 25px 0px;
  position: relative;
  width: 100%;
  height: 230px;
  @include shadows;
  border-radius: 18px;
  transition: 2s;
  @include desktop-only {
    margin-top: $margin-none;
    margin-bottom: $margin-none;
  }
  @include hd-screen-only {
    margin-top: $margin-none;
    margin-bottom: $margin-none;
  }
  .restaurant__img {
    width: 100%;
    height: 65%;
    object-fit: cover;
    object-position: 50% 60%; /* Adjust the image position */
    border-radius: 18px 18px 0px 0px;
  }
  .restaurant__new {
    @include new-restaurant;
    position: absolute; /* To move text over parent */
    top: 4%;
    right: 4%;
    margin: $margin-none;
  }
  &:hover {
    @include lighter-hover;
  }

  .restaurant__figcaption {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 35%;
    padding: $padding-base;
    background-color: $white;
    border-radius: 0px 0px 18px 18px;

    .restaurant__name {
      width: 80%;
      margin: 0;
    }

    .restaurant__location {
      width: 80%;
      margin-top: 5px;
      margin-bottom: 0;
    }
  }
}

/* FAVORITE ICON */

.restaurant__favorite {
  display: flex; /* To center icon */
  justify-content: center;
  align-items: center;
  height: 100%;
}

.favorite__ico {
  position: absolute;
  background-color: $white;
  transition: opacity 600ms ease-in-out;
  &--grey {
    background-color: $soft-grey; /* A little adjustemnt for the menu page background color */
  }
  &:hover {
    opacity: 0; /* Favorite__ico dissapear on hover, favorite__ico--color appears instead */
    cursor: pointer;
  }
}
.favorite__ico--color {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Need border like previous state, try to use stroke property ? */
}
