form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

input {
  width: 80%;
  background-color: darken($soft-grey, 5%);
  border: none;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
  outline: none;
  @include desktop-only {
    width: 100%;
    background-color: $soft-grey;
  }
  @include hd-screen-only {
    width: 100%;
    background-color: $soft-grey;
  }
  @include tablet-only {
    width: 50%;
  }
}
