.head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  @include desktop-only {
    height: 100px;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: $padding-xl;
  }
  @include hd-screen-only {
    height: 100px;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: $padding-xl;
  }
  &__logo {
    width: 50%;
    padding: $padding-base;
    @include tablet-only {
      display: none; /* Logo getting blurry on high resolutions, using SVG instead */
    }
    @include desktop-only {
      display: none;
    }
    @include hd-screen-only {
      display: none;
    }
  }
  &__logo--desktop {
    height: 80px;
    padding: $padding-base;
    @include mobile-only {
      display: none; /* Using PNG on mobile version */
    }
  }
  &__back {
    position: absolute; /* Not the best way, but it work */
    left: $padding-base;
  }
  &__search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: $padding-base - 4px;
    background-color: darken(
      $soft-grey,
      5%
    ); /* Using a SASS function here, to make background darker */
    box-shadow: inset 0px 4px 10px -8px;
    @include desktop-only {
      width: 30%;
      border-radius: 30px;
      background-color: $soft-grey;
      box-shadow: inset 0px 4px 8px -8px;
    }
    @include hd-screen-only {
      width: 20%;
      border-radius: 30px;
      background-color: $soft-grey;
      box-shadow: inset 0px 4px 8px -8px;
    }
  }
}
